.DS_Store
._*
*~
*.log
.idea/
.vscode/
/.circleci/
/.git/
/app/
/coverage/
/docs/
/flow-typed/
/infrastructure/
/internals/
/node_modules/
/platforms/
/plugins/
/scripts/
/.dockerignore
/.editorconfig
/.eslintignore
/.eslintrc.js
/.gitattributes
/.gitignore
/.prettierignore
/.remarkignore
/.stylelintignore
/babel.config.js
/build-app.sh
/build-image.sh
/build.json
/config.xml
/deploy.sh
/Dockerfile
/env.sh
/jest.config.js
/prettier.config.js
/README.md
